.clients-list {
  display: flex;
  justify-content: space-between;
  &__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: solid 1px var(--svg-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: fill var(--transition-duration)
      var(--transition-timing-function);

    &--accent:hover,
    &--accent:focus {
      background-color: transparent;
      border: solid 1px var(--color-logo-btn-accent);
    }

    &--accent:hover .clients-list__icon,
    &--accent:focus .clients-list__icon {
      fill: var(--color-logo-btn-accent);
    }
  }
  &__icon {
    display: flex;
    width: 106px;
    height: 60px;
    fill: var(--svg-color);
    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }
}
