.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-container {
  display: flex;
  width: 1170px;
  align-items: baseline;
}
.footer-container-left {
  margin-right: 70px;
  width: 231px;
  text-align: left;
}

.join-us {
  padding-top: 12px;
  color: var(--accent-text-for-btn);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  &__socnet {
    display: flex;
    width: 206px;
    justify-content: space-between;
  }

  &__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: var(--accent-text-for-btn);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    &--accent:hover,
    &--accent:focus {
      background-color: var(--color-logo-btn-accent);
    }

    &--accent:hover &__svg,
    &--accent:focus &__svg {
      fill: var(--accent-text-for-btn);
    }

    &--accent:hover .socnet-svg-footer-tw,
    &--accent:focus .socnet-svg-footer-tw {
      fill: var(--accent-text-for-btn);
    }

    &--accent:hover .socnet-svg-footer-fb,
    &--accent:focus .socnet-svg-footer-fb {
      fill: var(--accent-text-for-btn);
    }

    &--accent:hover .socnet-svg-footer-lnkdn,
    &--accent:focus .socnet-svg-footer-lnkdn {
      fill: var(--accent-text-for-btn);
    }
  }
}

.form-footer {
  margin-left: 93px;
  color: var(--accent-text-for-btn);
  &__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__btn {
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    border-color: transparent;
    margin-left: 8px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-text-for-btn);
    background-color: var(--color-logo-btn-accent);
    cursor: pointer;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__input {
    background: transparent;
    min-width: 356px;
    min-height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0;
    &--placeholder::placeholder {
      padding-left: 16px;
    }
  }

  &__svg {
    vertical-align: middle;
    margin-left: 10px;
  }
}
